@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-400/50 dark:border-zinc-800 dark:outline-zinc-600/50;
  }
  body {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
  }
  button,
  table {
    font-family: 'Roboto', monospace;
    /* move to utility? */
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@utility glass {
  background-color: rgba(250, 245, 255, 0.25);
  backdrop-filter: blur(8px);
  color: black;
  border-top: 1px solid rgb(229 231 235 / 20%);
  border-right: 1px solid rgb(229 231 235 / 20%);
  border-bottom: 1px solid rgb(229 231 235 / 30%);
  border-left: 1px solid rgb(229 231 235 / 30%);
}
@utility glass-border {
  border-top: 1px solid rgb(229 231 235 / 20%);
  border-right: 1px solid rgb(229 231 235 / 20%);
  border-bottom: 1px solid rgb(229 231 235 / 30%);
  border-left: 1px solid rgb(229 231 235 / 30%);
}
/* Dark Mode */
@utility dark-glass {
  background-color: rgba(9, 9, 11, 0.5);
  backdrop-filter: blur(32px);
  color: white;
  border-top: 1px solid rgb(255 255 255 / 10%);
  border-right: 1px solid rgb(255 255 255 / 10%);
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  border-left: 1px solid rgb(255 255 255 / 20%);
}

@utility dark-glass-border {
  border-top: 1px solid rgb(255 255 255 / 10%);
  border-right: 1px solid rgb(255 255 255 / 10%);
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  border-left: 1px solid rgb(255 255 255 / 20%);
}
